div(style=" width:100%; height:20%;")
    div(style="width:20%; height:100%;float:left;")
        img(src="images/logo.png", alt="logo", style="width: 100%; height: 100%")
    div(style="width:80%; height:100%;float:right;")
        div(style="width:100%; height:30%;")
            div(style="width:30%; height:100%;float:right;")
                table
                    tr
                        td
                            p(style = "padding-left:20px") hallo
                        td
                            a(style="padding-left: 20px", href="/")
                                | Logout
                            td
            div(style="width:70%; height:100%;float:left;")
                table
                    tr
                        td
                            a(style="padding-left: 20px", href="")
                                | Home

                        td
                            a(style="padding-left: 20px", href="")
                                | Projekt importieren

                        td
                            a(style="padding-left: 20px",  href="")
                                | Profil
        div(style="background-color:black; width:100%; height:70%;")

