.input-group
    .col-lg-4
        input.form-control(type="text",placeholder="username")
        span(style="line-height:2em")
            a(href="/register") register
    .col-lg-4
        input.form-control(type="password",placeholder="password")
        span(style="line-height:2em")
            a(href="/reset-password") reset password
    button.btn.btn-default(type="button") Login
