script(language="javascript").
    var username = "mendel";
    var pass = "1234";
    function login(){
        if(document.getElementById("user").value == username){
            if(document.getElementById("user_pass").value == pass){
                window.location='schritt_1';
            }else{
                document.getElementById("result").innerHTML = "Wrong Pass!";
            }
        }else{
            document.getElementById("result").innerHTML = "No such username!";
        }
    }

.input-group
    .col-lg-4
        input.form-control(type="text",placeholder="username", id = "user")
        span(style="line-height:2em")
            a(href="/register") register
    .col-lg-4
        input.form-control(type="password",placeholder="password", id= "user_pass")
        span(style="line-height:2em")
            a(href="/reset-password") reset password
    button.btn.btn-default(type="button" , onclick = "login();") Login
    p(id="result")

