extends layout

block content
    .container
        .row
            a(href="/")
                img(src="/images/logo2.png", height="80em", style="margin-top: 1em")
            span.pull-right.headline
                h1 Wissensbilanz Tool
                p Das ist ein Test
        .row
            .col-lg-6
                ul.nav.nav-pills(style="line-height:5em")
                    li
                        a(href="/frage1") Startseite
            .col-lg-6
                include authentication

        include carousel

        .row
            hr(style="border-color: #AAA -moz-use-text-color #AAA;")

        .row
            ul.nav.nav-pills
                li
                    a(href="/geschaeftsmodell") Wissensbilanz - Made in Germany
                li
                    a(href="/intellektuellesKapital") Geschäftsbedingung
                li
                    a(href="/impressum") Impressum